@charset "UTF-8";
@font-face {
  font-family: Nevduplenysh;
  src: url("font/Nevduplenysh/Nevduplenysh-Regular.otf");
}
@font-face {
  font-family: Akshar;
  src: url("font/Akshar/Akshar-Light.ttf");
}
@font-face {
  font-family: InterBold;
  src: url("font/Inter/Inter-Bold.otf");
}
body {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

header {
    position: fixed;
    background-color: #fff;
    z-index: 100;
    width: 100%;

    .mynav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 84%;
        margin: auto;

        .logoBlock {
            font-family: Akshar;
            font-size: 3vw;
            margin: 1vh 0;
          }

          .links {
            display: flex;
            flex-direction: row;

            a {
                display: inline-block;
                margin-right: 2vw;
                text-decoration: none;

                p {
                    margin-bottom: 0;
                    font-size: 1.1em;
                    transition: all 0.3s linear;
                    border: 0 solid black;
                  }

                  p::after {
                    content: "";
                    display: block;
                    width: 100%;
                    background-color: #5D5D5D;
                    height: 1px;
                    transition: all 0.3s;
                    transform: scale(0);
                  }

                  p:hover::after {
                    transform: scale(1);
                  }
              }

              a:link, a:visited {
                color: #5D5D5D;
                font-family: Akshar;
              }
          }

          .favouriteAndCart {
            display: flex;
            width: 9%;
            justify-content: space-between;

            i {
                cursor: pointer;
                transform: scale(1.6);
                display: inline-block;
                transition: all 0.2s linear;
              }

              i:hover {
                transform: scale(1.85);
              }
          }
      }
  }
  
  



.main {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    padding-top: 16vh;
    justify-content: flex-start;

    .photosSide {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 4vw;
        

        .bigImg {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .smallImages {
            display: flex;
            margin-top: 2vh;
            justify-content: space-around;

            img {
                width: 20%;
            }
        }
    }

    .infoSide {
        width: 50%;
        .topInf {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }

        .sizes {
            .sizesCircles {
                .circleSize {
                    display: inline-block;
                    padding: 10px 15px;
                    border-radius: 50%;
                    border: 2px solid black;
                    font-size: 1.3em;
                    cursor: pointer;
                    margin-right: 1.2vw;
                    margin-bottom: 2vh;
                    transition: 0.2s linear all;
                }

                .circleSize:hover {
                    background-color: black;
                    color: #fff;
                }
            }
        }

        .costAndBtn {
            display: flex;
            margin-top: 4vh;
            flex-direction: row;
            justify-content: space-between;

            .cost {
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }
}


















footer {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 16vh;
    border-top: 3px solid black;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 5vh;
    font-size: 1.2rem;
    font-family: InterBold;

    .social {
        display: flex;
    
        a {
            display: flex;
            text-decoration: none;
    
            p {
                font-family: InterBold;
                margin-left: 1vw;
            }
    
            p::after {
                content: "";
                display: block;
                width: 100%;
                background-color: #5D5D5D;
                height: 2px;
                transition: all 0.3s;
                transform: scale(0);
            }

            p:hover::after {
                transform: scale(1);
              }
        }

        a:link, footer .social a:visited {
            color: black;
            font-family: Akshar;
          }
        
      }
  }
  
  /* Модальное */
  
  .myModalHeader {
    display: flex;
    flex-direction: column;
    border: 0;
  }
  
  .myModalFooter {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    border: 0px;

    p {
        font-size: 0.85em;
        cursor: pointer;
    }
  }